{{ $swJs := resources.Get "js/sw.js" | js.Build "sw.js" | minify }}
<script>
    if ('serviceWorker' in navigator) {
        window.addEventListener('load', function () {

            navigator.serviceWorker.register('{{$swJs.Permalink}}').then(function (registration) {
                console.log('ServiceWorker registration successful with scope: ', registration.scope);
            }, function (err) {
                console.log('ServiceWorker registration failed: ', err);
            });
        });
    }
</script>

<script src="https://cdn.zdy.world/npm/quicklink@2.3.0/dist/quicklink.umd.js" defer integrity="sha256-yvJQOINiH9fWemHn0vCA5lsHWJaHs6/ZmO+1Ft04SvM=" crossorigin="anonymous"></script>

<script>
    // 检查网络环境
    function checkNetworkEnvironment() {
        if (navigator.connection) {
            const connection = navigator.connection;

            // 判断网络质量
            const isGoodNetwork =
                connection.effectiveType === '4g' && connection.downlink > 5;

            if (isGoodNetwork) {
                quicklink.listen();
            } else {
                console.log('Network is poor, skipping speculation rules');
            }
        } else {
            console.log('Network Information API not supported');
        }
    }
    window.addEventListener('load', checkNetworkEnvironment);
</script>